@import './mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap');
$spartan: 'Spartan',
'Arial',
'Helvetica';
$blueLight: #59BBEB;
$blueDark: #055E89;
$redLight: #FF9292;
$redDark: #fd3b3b;
button {
    border: none;
    margin: 0;
    padding: 0;
    &:hover {
        cursor: pointer;
    }
}

.flex {
    display: flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

#widget-mm-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    font-family: $spartan;
    height: auto;
    background: yellow;
}

#widget-mm {
    width: 260px;
    height: 480px;
    display: flex;
    flex-direction: column;
    background: rgb(250, 254, 255);
    background: linear-gradient(0deg, rgba(236, 252, 255, 1) 0%, rgba(250, 254, 255, 1) 100%);
    @include borderRadius(5px);
    @include boxShadow(0,
    0px,
    8px,
    0,
    rgba(0, 20, 66, 0.3));
    overflow: hidden;
}

.widget-close-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 100%;
    margin-left: -50px;
    @include maskImage('../img/widget/close.svg');
    @include transitionEase();
    background-color: $blueLight;
    &:hover {
        background-color: $blueDark;
    }
}


/* Widget corner animation */

#widget-corner-anim {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 100%;
    left: 100%;
    margin-left: -100px;
    margin-top: -100px;
    #widget-show-btn {
        display: inline-block;
        width: 80px;
        height: 80px;
        background-color: transparent;
    }
}


/* INIT FRAME */

#widget-init-wrapper {
    position: relative;
    padding: 20px;
    justify-content: center;
    align-items: center;
    .widget-init-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: 800;
        font-size: 22px;
        color: #454545;
    }
    .widget-init-logo {
        display: inline-block;
        width: 60px;
        height: auto;
        margin: 10px 0;
    }
    .widget-init-content {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        line-height: 24px;
        color: #333;
    }
    .widget-init-btn {
        display: inline-block;
        padding: 10px 0 8px 0;
        margin: 10px 0;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        @include borderRadius(20px);
        @include transitionEase();
        @include boxShadow(0,
        2px,
        4px,
        0,
        rgba(0, 20, 66, 0.2));
        font-family: $spartan;
        &.enable {
            background-color: $blueLight;
            &:hover {
                background-color: $blueDark;
                @include noShadow();
            }
        }
        &.close {
            background-color: $redLight;
            &:hover {
                background-color: $redDark;
                @include noShadow();
            }
        }
    }
}


/* widget HEADER */

.widget-mm-header {
    height: 30px;
    padding: 20px 15px;
    background: #fff;
    justify-content: space-between;
    @include boxShadow(0,
    0,
    4px,
    0,
    rgba(0, 20, 66, 0.3));
    .widget-mm-title {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: 700;
        color: $blueLight;
    }
    #widget-mm-settings-btn {
        display: inline-block;
        width: 20px;
        height: 30px;
        @include maskImage('../img/widget/settings.svg');
        background-color: $blueLight;
        @include transitionEase();
        &:hover {
            background-color: $blueDark;
        }
        &.opened {
            background-color: $blueDark;
        }
    }
    #widget-mm-collapse-btn {
        display: inline-block;
        width: 30px;
        height: 30px;
        @include maskImage('../img/widget/collapse.svg');
        background-color: $blueLight;
        @include transitionEase();
        &:hover {
            background-color: $blueDark;
        }
    }
}


/* widget MAIN CONTENT */

#widget-main-body {
    max-height: 410px;
}

#widget-main-content {
    background: transparent;
    position: relative;
    z-index: 1;
    overflow: auto;
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;
    scroll-behavior: smooth;
    .content-bubble {
        font-size: 14px;
        margin: 10px 0;
        flex-wrap: wrap;
        .loading {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url('../img/widget/writing.gif');
            background-size: 30px 30px;
        }
        .content-item {
            display: inline-block;
            padding: 10px;
            max-width: 75%;
            line-height: 1.3em;
            @include boxShadow(0,
            0,
            4px,
            0,
            rgba(0,
            20,
            66,
            0.2));
        }
        .widget-content-link {
            display: inline-block;
            height: 30px;
            line-height: 28px;
            font-size: 14px;
            font-weight: 500;
            color: $blueDark;
            background-color: #fff;
            border: 1px solid $blueDark;
            padding: 0 10px;
            margin: 5px 10px 5px 0;
            @include borderRadius(15px);
            @include boxShadow(0,
            2px,
            4px,
            0,
            rgba(0,
            20,
            66,
            0.3));
            @include transitionEase();
            white-space: nowrap;
            &:hover {
                background-color: $blueDark;
                color: #fff;
            }
        }
        .widget-content-img {
            display: inline-block;
            height: 40px;
            width: auto;
        }
        &.widget-bubble {
            justify-content: flex-start;
            .content-item {
                @include borderRadiusMulti(10px,
                10px,
                10px,
                0);
                background-color: $blueLight;
                color: #fff;
            }
        }
        &.user-bubble {
            justify-content: flex-end;
            .content-item {
                @include borderRadiusMulti(10px,
                10px,
                0,
                10px);
                background-color: #fff;
                color: #333;
            }
        }
    }
}


/* widget FOOTER */

#widget-main-footer {
    height: auto;
    padding: 20px 15px;
    background: $blueLight;
    align-items: center;
    justify-content: center;
    position: relative;
    @include boxShadow(0,
    0,
    4px,
    0,
    rgba(0,
    20,
    66,
    0.2));
    #widget-mic-btn {
        display: inline-block;
        height: 30px;
        width: 30px;
        @include transitionEase();
        @include borderRadius(30px);
        background-color: $blueDark;
        .icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            @include maskImage('../img/widget/mic.svg');
            background-color: #fff;
            margin: 3px;
            @include transitionEase();
        }
        &:hover {
            background-color: #fff;
            .icon {
                background-color: $blueDark;
            }
        }
        &.recording {
            @include blinkWhiteToRed();
            .icon {
                @include blinkRedToWhite();
            }
        }
    }
    #widget-msg-btn {
        display: inline-block;
        height: 30px;
        width: 30px;
        @include transitionEase();
        @include borderRadius(20px);
        background-color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            @include maskImage('../img/widget/send.svg');
            background-color: $blueLight;
            margin: 5px;
            @include transitionEase();
            &:hover {
                background-color: $blueDark;
            }
        }
    }
    #chabtot-msg-input {
        border: none;
        background-color: #fff;
        padding: 5px 10px;
        @include borderRadius(15px);
        width: auto;
        min-width: 0;
        margin-left: 10px;
        @include transitionEase();
        outline: none;
    }
    &.mic-enabled {
        padding: 15px;
        #widget-mic-btn {
            width: 50px;
            height: 50px;
            .icon {
                width: 34px;
                height: 34px;
                margin: 8px;
            }
        }
        #widget-msg-btn {
            top: 50%;
            left: 50%;
            margin-top: -15px;
            margin-left: 30px;
        }
        #chabtot-msg-input {
            display: none;
        }
    }
    &.mic-disabled {
        #widget-mic-btn {
            width: 30px;
            height: 30px
        }
        #widget-msg-btn {
            left: 100%;
            margin-left: -45px;
        }
        #chabtot-msg-input {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0 30px 0 10px;
        }
    }
}


/* widget Settings */

#widget-settings {
    background: #fff;
    padding: 20px;
    .widget-settings-title {
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        color: #454545;
        margin: 10px 0;
    }
    .widget-settings-checkbox {
        margin: 10px 0;
        .widget-settings-label {
            font-size: 14px;
            line-height: 18px;
            padding-left: 5px;
            font-weight: 500;
            color: #333;
        }
    }
    button {
        display: inline-block;
        padding: 10px 15px 8px 15px;
        margin: 10px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        @include borderRadius(20px);
        @include transitionEase();
        @include boxShadow(0,
        2px,
        4px,
        0,
        rgba(0,
        20,
        66,
        0.2));
        font-family: $spartan;
    }
}

.widget-settings-btn-container {
    justify-content: space-evenly;
    #widget-settings-cancel {
        background-color: #777;
        &:hover {
            background-color: #333;
        }
    }
    #widget-settings-save {
        background-color: $blueLight;
        &:hover {
            background-color: $blueDark;
        }
    }
}

#widget-quit-btn {
    width: 100%;
    background-color: $redLight;
    &:hover {
        background-color: $redDark;
    }
}

.hidden {
    display: none !important;
}