<div id="widget-mm-wrapper">
    <div id="widget-corner-anim">
        <button id="widget-show-btn" class="sleeping visible"></button>
        <button id="widget-show-minimal" class="hidden"><span class="icon"></span></button>
    </div>
    <div id="widget-mm" class="hidden">

        <!-- WIDGET INIT FRAME-->
        <div id="widget-init-wrapper" class="flex1 flex col">
            <button class="widget-close-init widget-close-btn"></button>
            <span class="widget-init-title">LinTO widget</span>
            <img src="../img/widget/linto.svg" class="widget-init-logo">
            <p class="widget-init-content">Activez le widget pour lui poser vos questions vocalement en utilisant le mot-réveil “LinTO”</p>
            <button class="widget-init-btn enable" id="widget-init-btn-enable">Activer</button>
            <button class="widget-close-init widget-init-btn close" id="widget-init-btn-close">Fermer</button>
        </div>
        <!-- WIDGET MAIN-->
        <div id="widget-mm-main" class="flex1 flex col hidden">
            <div class="widget-mm-header flex row">
                <button id="widget-mm-settings-btn" class="closed"></button>
                <span class="widget-mm-title">LinTO widget</span>
                <button id="widget-mm-collapse-btn"></button>
            </div>
            <!-- WIDGET CONTENT -->
            <div id="widget-main-body" class="flex1 flex col">
                <div id="widget-main-content" class="flex1 flex col">
                </div>
                <!-- WIDGET CONTENT BTNS (mic + input + send)-->
                <div id="widget-main-footer" class="flex row mic-enabled">
                    <button id="widget-mic-btn"><span class="icon"></span></button>
                    <input id="chabtot-msg-input" type="text" />
                    <button id="widget-msg-btn" class="txt-disabled"><span class="icon"></span></button>
                </div>
            </div>
            <!-- WIDGET SETTINGS FRAME-->
            <div id="widget-settings" class="flex1 flex col hidden">
                <span class="widget-settings-title">Settings</span>
                <div class="flex row widget-settings-checkbox">
                    <input type="checkbox" id="widget-settings-hotword" checked>
                    <span class="widget-settings-label">Enable HotWord</span>
                </div>
                <div class="flex row widget-settings-checkbox">
                    <input type="checkbox" id="widget-settings-say-response" checked>
                    <span class="widget-settings-label">Enable audio responses</span>
                </div>
                <div class="widget-settings-btn-container flex row">
                    <button id="widget-settings-cancel">Annuler</button>
                    <button id="widget-settings-save">Enregistrer</button>
                </div>
                <button id="widget-quit-btn">Quitter widget</button>
            </div>
        </div>
    </div>
    <!-- WIDGET MINIMAL STREAMING -->
    <div id="widget-minimal-overlay" class="flex row hidden">
        <button id="widget-ms-close"></button>
        <div class="widget-ms-container flex1 flex row">
            <div id="widget-ms-animation" class="widget-animation flex col"></div>
            <div class="widget-ms-content flex col flex1">
                <div id="widget-ms-content-previous" class="widget-ms-content-previous"></div>
                <div id="widget-ms-content-current" class="widget-ms-content-current flex col"></div>
            </div>
        </div>
    </div>
</div>